<!DOCTYPE html>
<html>
<head>
	<title> Wash U </title>
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/forms.css">
	{% block links %}

	{% endblock %}
</head>
<body>

	<nav>
		<ul>

			<li> <a href="{{ url_for("index") }}"> Home </a> </li>
			<li> <a href="{{ url_for('add_product') }}"> Add Product </a> </li>
			<li> <a href="{{ url_for('chats') }}"> Chats </a> </li>
			<li> <a href="{{ url_for("my_products") }}"> My Products </a> </li>
			<li> <a href=" {{url_for("favorites") }}"> Favorites </a> </li>

			{% if current_user.is_anonymous() %}
				<li> <a href="{{ url_for("login") }}"> Sign In </a> </li>
			{% else %}
				<li> <a href=" {{url_for("view_profile", profile_id=current_user.id)}}"> Profile </a> </li>
				<li> <a href="{{ url_for("logout") }}"> Log out </a>  </li>
			{% endif %}
		</ul>
	</nav>

	{% block content %}

	{% endblock %}

	{% block scripts %}
	{% endblock %}
</body>
</html>