{% extends "base.html" %}

{% block content %}

<section id="items-listing">

	{% for item in items %}
		{% set seller = db.Users.find_one(item.seller_id) %}
		<div id={{ item._id }} class="item">
			<div class="item-seller">
				<img src={{ seller.img_link }}>
				<div class="seller-info">
					<a href="{{url_for("view_profile", profile_id=seller._id)}}"> {{ seller.firstName + " " + seller.lastName }} </a>
					<p> {{ seller.title }} </p>
				</div>
			</div>
			<h3> {{ item.title }} </h3>
			{% if item.sold %}
			<h4> This item has sold </h5>
			{%endif%}
			<h4 class="item-price"> ${{ item.price }} </h5>
			<img src={{ item.image_link }}>
			<div class="item-actions">

				{%if item.seller_id == current_user.id%}
					<div class="edit-button" name="edit-action"> Edit </div>
				{%else%}
						<div class="message-button" seller_id="{{item.seller_id}}"> <a class="no-decor" href="{{url_for('redicrect_new_message', seller_id=item.seller_id)}}"> Send Message </a> </div>
				{%endif%}
					<div class="favorite-button {{item._id in current_user.favorites}}" name="favorite-action"> Favorite </div>
			</div>
			<div class="item-description">
				{{ item.description }}
			</div>
		</div>
	{% endfor %}
</section>

{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="static/js/product_actions.js"></script>
{% endblock %}
